.App {
  text-align: left;
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #F06400;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d55a00;
}
